node_modules
.next
.git
*.md
docs/
presentations/
tests/
infrastructure/kubernetes
infrastructure/puppet
infrastructure/terraform
.env.local
.env.development.local
.env.test.local
.env.production.local
